#page_show
  #10-principles
    %h1.page-title Les 10 principes de Burning Man
    = image_tag "10_principles.jpg", alt: "10 principes burning man", height: "283", title: "10 principes burning man", width: "1408"
    %p.principles
      \.
      %br/
      %strong 1. Ouverture à tous :
      nous acceptons tout le monde
      %br/
      %strong 2. Immédiateté :
      nous faisons la part belle à l’expérience, dans l’instant présent
      %br/
      %strong 3. Participation :
      chacun est encouragé à ne pas être un simple spectateur, s’exprimer en créant,… : nos événements sont la somme des participations de chacun
      %br/
      %strong 4. Expression personnelle radicale :
      chacun peut s’exprimer librement, sans être jugé
      %br/
      %strong 5. Autonomie :
      chacun se prend en charge sans compter à priori sur les autres, sachant qu’il pourra toujours compter sur eux en cas de nécessité
      %br/
      %strong 6. Civisme :
      chacun doit avoir un comportement civique et respectueux des autres
      %br/
      %strong 7. Ne laisser aucune trace :
      on ne laisse aucune trace lors de nos événements
      %br/
      %strong 8. Non commercial :
      nous excluons toute forme de commerce, de publicité, de sponsoring ou d’activités commerciales
      %br/
      %strong 9. Don :
      le don sans attente de retour
      %br/
      %strong 10. Effort commun :
      actions collectives au travers de la collaboration, du bénévolat, de l’entraide
      %br/
      \.
    %p
      %strong BURNING MAN encourage ses équipes et les 70 000 participants à utiliser des énergies renouvelables, des combustibles non fossiles, à recycler et à composter les déchets et matières organiques.
    %h2 Pendant BURNING MAN
    %p Le respect de l'environnement est très concret pendant BURNING MAN :
    %ul
      %li
        %strong Principe du "Leave no trace" pour laisser un désert intact à la fin
        \: on ne laisse rien dans le désert (même pas des mégots de cigarette, ni des plumes de boa), et on rapporte même ses eaux usées afin qu'elles ne souillent pas (savon, eau de vaisselle, ...) le désert.
      %li
        Beaucoup de participants se déplacent avec leur propre gobelet: c'est le
        %strong "Bring Your Own Cup"
        qui vise à réduire les déchets à base de verres en plastique,
      %li BURNING MAN utilise de l'énergie solaire, ainsi que certains participants,
      %li Certaines installations sont mues par l'énergie de personnes qui pédalent,
      %li BURNING MAN pratique le tri sélectif: par exemple les canettes sont triées et compactées sur place grâce des bénévoles qui pédalent,
      %li
        70 000 personnes se déplacent à vélo pendant BURNING MAN,
        %br/
        \.
    %h2 Après BURNING MAN
    %p Le respect de l'environnement, c'est aussi après BURNING MAN :
    %ul
      %li Les participants ont été sensibilisés pendant une semaine, et ils ont même "pratiqué": ils appliquent ces principes de retour chez eux,
      %li Les événements "BURNING MAN" dans le monde appliquent les mêmes principes,
      %li BURNING MAN offre de l'énergie solaire au travers de la fondation BLACK ROCK SOLAR.
    %p
      %strong ET AUSSI
      %br/
      BURNING MAN fait la promotion des 6 R
    %ul
      %li
        %strong Respecter
        (les gens, les animaux, la terre, la nature,...)
      %li
        %strong Repenser
        (le coût environnemental avant d'acheter, ses besoins, ses alternatives avant d'acheter,..)
      %li
        %strong Réduire
        (la quantité de déchets)
      %li
        %strong Réutiliser
        (avant de jeter à la poubelle, se demander si l'on ne pourra le ré-utiliser)
      %li
        %strong Recycler
        (canettes, verre, compost..)
      %li
        %strong Restaurer
        (essayer que les lieux où on passe soient plus propres après notre passage qu'avant).
    %p
      %strong THEME 2007
      %br/
      En 2007, le thème de BURNING MAN était justement "THE GREEN MAN", avec la mise en œuvre de solutions alternatives au niveau énergétique, et la démonstration par des entreprises de solutions alternatives viables économiquement.
    %p
      %strong FONDATION
      %br/
      BLACK ROCK SOLAR est une des fondations de BURNING MAN, dédiée à fournir de l'énergie solaire aux plus défavorisés (donation, installation de panneaux solaires).
    = link_to "En savoir plus", "http://burningman.org/culture/philosophical-center/10-principles/", class: "btn btn-default", target: "_blank"
