/*
 *= require bootstrap_and_overrides
 */
@import 'bourbon';
@import 'reset';

nav.navbar {
  margin-bottom: 0;
}

#newsletter_index, #user_index, #slideshow_index, #article_index, #article_new, #article_edit {
  padding: 20px 5% 0;
}

#slideshow_index {
  .new {
    float: right;
    width: 20%;
    padding: 1%;
    h2 {
      padding-bottom: 10px;
    }
  }
  .list {
    width: 75%;
    padding: 1%;
  }
}

#article_index {
  p a.btn {
    margin-bottom: 10px;
  }
}
