@import 'bourbon';
@import 'reset';

$_gray: #999;
$_lightgray: #F0F0F0;
$_red: #E74C3C;

* {
  font-family: 'Open Sans', sans-serif;
  color: $_gray;
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* =============== */
/* ==== HEADER === */
/* =============== */
#header {
  padding-top: 10px;
  .logo, ul, li {
    float: left;
  }
  .logo {
    margin-right: 20px;
    padding-left: 10%;
    height: 46px;
    img {
      width: 195px;
      height: 46px;
    }
  }

  a{
    height: 30px;
    padding: 0 16px;
    line-height: 50px;
    font-size: 0.95em;
    &:hover, &.active {
      color: $_red;
    }
  }

  .login {
    float: right;
    right: 20%;
  }

  .administration {
    margin-top: 10px;
  }
  .logout, .administration {
     text-align: right;
  }
  .administration a, .logout a {
    line-height: normal;
  }
}

/* =============== */
/* == SLIDESHOW == */
/* =============== */
#slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  .next, .previous {
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    width: 33px;
    height: 33px;
    .image {
      margin: 0;
      opacity: 0.5;
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 25px;
    }
  }
  .next {
    right: 1%;
    background: transparent url(image-path('right_arrow.png')) center center no-repeat;
  }
  .previous {
    left: 1%;
    background: transparent url(image-path('left_arrow.png')) center center no-repeat;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  li {
    float: left;
    height: 100%;
    .image {
      display: block;
      width: 1080px;
      height: 100%;
      background-position: center center;
    }
  }
}

/* =============== */
/* ==== FOOTER === */
/* =============== */
#footer {
  width: 100%;

  .content {
    background-color: $_lightgray;
    padding: 5% 10%;
    width: 80%;
  }

  a {
    color: $_red;
  }

  .box {
    float: left;
    width: 33.3%;
    h2 {
      margin-bottom: 10px;
      font-size: 1.2em;
      color: black;
    }
  }

  .communities li {
    float: left;
    width: 50%;
    padding: 10px 0;
  }

  .social a {
    display: block;
    height: 42px;
    padding-left: 45px;
    line-height: 42px;
    background-repeat: no-repeat;
    background-position: center left;
    &.twitter {
      background-image: url(image-path("twitter.png"))
    }
    &.facebook {
      background-image: url(image-path("facebook.png"))
    }
  }

  form {
    input[type="text"] {
      background-color: #fcfcfc;
      border: 2px solid #eaeaea;
      font-size: 14px;
      padding: 14px;
      width: 100%;
      font-style:italic;
      border-radius: 3px;
    }
    input[type="submit"] {
      margin-bottom: 0;
      padding: 6px 12px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      color: white;
      background-color : #0F4466;
      border: 1px solid #adadad;
      border-radius: 4px;
    }
  }

  .copyright {
    background-color: white;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
  }
}
